## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [9]:
sample_list_1 = range(101)
list(sample_list_1)
print(random.sample(sample_list_1,80))

[0, 89, 9, 19, 77, 58, 69, 22, 2, 87, 98, 12, 54, 26, 93, 55, 24, 45, 41, 17, 23, 67, 94, 27, 49, 96, 42, 30, 43, 92, 57, 66, 81, 6, 91, 78, 33, 32, 34, 90, 25, 74, 56, 44, 29, 79, 100, 97, 95, 18, 85, 83, 20, 39, 99, 10, 86, 37, 80, 52, 15, 38, 59, 28, 8, 5, 7, 3, 53, 68, 65, 60, 48, 36, 4, 76, 47, 51, 13, 46]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [37]:
set1 = set(sample_list_1)
len(set1)
#La longuitud es diferente ya que en el set su longuitud es igual al rango creado,y no a los 80 elementos seleccionados.

101

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [38]:
from random import sample
sample_list_2 = (sample([x for x in range(0,101)],80))
print(sample_list_2)

[84, 94, 90, 19, 71, 78, 45, 58, 75, 60, 18, 96, 13, 99, 88, 26, 6, 98, 97, 61, 14, 46, 38, 29, 74, 41, 7, 21, 93, 66, 62, 63, 73, 91, 51, 9, 3, 23, 92, 67, 50, 70, 64, 43, 52, 17, 40, 0, 39, 12, 56, 89, 35, 87, 34, 68, 83, 2, 76, 47, 77, 80, 65, 82, 85, 54, 37, 1, 25, 55, 33, 11, 72, 16, 69, 22, 79, 31, 10, 100]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [39]:
set2 = set(sample_list_2)
len(set2)
#En este caso la longuitud se mantiene,puede ser por haber usado el bucle for?? y que s√≥lo haya 80 interaciones?

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [40]:
set3 = set1.difference(set2)
print(set3)

{4, 5, 8, 15, 20, 24, 27, 28, 30, 32, 36, 42, 44, 48, 49, 53, 57, 59, 81, 86, 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [29]:
set4 = set2.difference(set1)
print(set4)

{0, 1, 2, 3, 4, 8, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 29, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 68, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 94, 95, 97, 98, 99, 100}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [31]:
set5= set1.union(set2)
print(set5)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [60]:
(len(set1)-len(set2)) == len(set3)

True

In [61]:
len(set3)+len(set4) ==len(set5)

True

#### Create an empty set called `set6`.

In [68]:
set6 =[]

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [74]:
set3.update(set5)
set6.append(set5)
print(set6)

[None, {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}]

#### Check if `set1` and `set6` are equal.

In [75]:
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [76]:
set1.issubset(set2)#Set2 escogidos al azahar

False

In [77]:
set1.issubset(set3)#Set3 es la diferencia esta relacionado con set1

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [81]:
x = set3|set4|set5
y = set1|set2
x==y

True

#### Using the `pop` method, remove the first element from `set1`.

KeyError: 0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [84]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set7 = set(list_to_remove)
remaining_elements = set1.difference(set7)
print(remaining_elements)

{0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}